.headerGroup {
    width: 100%;
}
.headerNav {
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

@media (min-width: 0px) {
    .headerMyInfo {
        display: none;
    }
}

@media (min-width: 1024px) {
    .headerContainer {
        max-width: 1280px;
        height: 144px;
        padding-left: 2rem;
        padding-right: 2rem;
        margin: 0 auto;
    }

    .headerNav {
        align-items: flex-end;
        padding: 0.3125rem 0.13475rem 0 0;
    }

    .navRootBox {
        flex-direction: row;
        display: flex;
        flex-shrink: 0;
    }

    .navRootBox2 {
        flex-direction: column;
        display: flex;
    }

    .headerImage {
        width: 12rem;
        padding-top: 0.5rem;
    }

    .headerMyInfo {
        display: flex;
        -webkit-box-pack: end;
        justify-content: center;
        flex-direction: row;
        position: relative;
    }

    .myInfoLink {
        /*margin-left: 0.75rem;*/
        font-size: 0.875rem;
        color: rgb(119, 119, 119);
        white-space: nowrap;
    }

    .verticalLine {
        width: 1px; /* 세로선의 두께 */
        height: 100px; /* 세로선의 길이 */
        background-color: black; /* 선의 색상 */
        border: none;
        block-size: 0.75rem;
        margin-top: 20px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .headerIntroduce {
        display: flex;
        margin-left: 1rem;
        padding-top: 1.3rem;
    }

    .headerIntroduceElement {
        font-size: 1.125rem;
        margin-left: 1rem;
        padding : 0.2rem 0.5rem;
    }

    .headerMyInfoMark {
        display: flex;
        justify-content: center;
    }
    .headerMyInfoMarkElement {
        margin: 0 0.5rem;
    }
}